[submodule "src/yolov5"]
	path = src/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "detection_msgs"]
	path = detection_msgs
	url = https://github.com/mats-robotics/detection_msgs.git
